header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 16%;
}

.logo {
	margin: 10px 0;
	cursor: pointer;
}

.logo img {
	display: block;
	height: 12vh;
}
